<app-header></app-header>
<div class="mid">
	<div class="container">
		<div class="row-content">
			<div class="col-sm-9 sidenav" style="background-color: white">
				<div *ngIf="lawyer" class="row">
					<div  class="col-sm-3 other sidenav" style="background-color: white">
						<img [src]="lawyer.image" style="width:170px;height:200px;padding-top:2%">
						<br>
						<br>
					</div>
					<div class="col-sm-6 other2 sidenav" style="background-color: white">
						<div class="gap">
							<h3>
								{{lawyer.first_name}}
							</h3>
							<h3>
								{{lawyer.city}}
							</h3>
						</div>
					</div>
				</div>
				<h4>
					<a href="#" style="text-decoration: none">
						*Select a rating for yoyr lawyer:
					</a>
				</h4>
				<br>
				<ngx-stars [size]="3" [color]="'#c69500'" (ratingOutput)="onRatingSet($event)" [initialStars]="rate"></ngx-stars>
				<br>
				<h4>
					<a href="#" style="text-decoration: none">
						Write your review:</a>
				</h4>
				<textarea [(ngModel)]="description" class="form-control" rows="3" maxlength="1200" id="comment"
					placeholder="Write review about lawyer" style="border-style:solid;border-color:#ffbb99">
				</textarea>
				<br>
				<h4>
					<a href="#" style="text-decoration: none">
						Was this just a consultation or did you hire the attorney?</a>
				</h4>
				<form>
					<label class="radio-inline">
						<input type="radio" value="True" [(ngModel)]="isHired" name="optradio">
						Hire
					</label>
					<label class="radio-inline">
						<input type="radio" value="False" [(ngModel)]="isHired" name="optradio">
						Consultation
					</label>
				</form>
				<br>
				<h4>
					<a href="#" style="text-decoration: none">
						Whould you recomended this lawyer?</a>
				</h4>
				<form>
					<label class="radio-inline">
						<input [(ngModel)]="isRecomended" value="True" type="radio" name="optradio">
						Yes
					</label>
					<label class="radio-inline">
						<input type="radio" value="False" [(ngModel)]="isRecomended" name="optradio">
						No
					</label>
				</form>
				<br>

				<form>
					<button (click)="onSubmit()" type="submit" class="btn btn-default" style="background-color: grey;color: black">Submit
					</button>
				</form>
			</div>
		</div>
	</div>
</div>