<div class="row">
	<div class="col-sm-4 offset-4">
		<div *ngIf="show == 1">
			<h3>Mail</h3>
			<form>
				<input type="text" name="mail" [(ngModel)]="mail">
				<button (click)="sendMail()" type="button">Submit</button>
			</form>
		</div>

		<div *ngIf="show == 2">
			<h6>Code is Sent in Mail</h6>
			<p>Please the code below</p>	
			<form>
				<input type="text" name="code" [(ngModel)]="code">
				<button (click)="sendCode()" type="button">Submit</button>
			</form>
		</div>
		<div *ngIf="show == 3">
			<h1>Password</h1>
			<form>
				<input type="password" name="password" [(ngModel)]="password">
				<button (click)="updatePassword()" type="button">Submit</button>
			</form>
		</div>
	</div>
</div>