<app-header></app-header>
<div class="container-fluid">
    <br>
    
        <h3 style="margin-left:4%"><b>Ask a Question</b></h3>
      <div class="row-content">
      <div class="col-md-8">
        <h4 style="padding-top: 3%"><b>Select Practice Area:</b></h4>
        <select required (change)="updateCategory($event.target.value)">
      <option *ngFor="let option of allCategories" value="{{option.catogery}}" > 
        {{option.catogery}} 
      </option>
  </select>
  <br>
              <h4 style="padding-top: 3%"><b>Ask your question</b></h4>
              <textarea class="form-control" rows="2" maxlength="200" placeholder="Complete your question not more then 200 words." id="comment"  style="background-color: white" [(ngModel)]="text"></textarea>
             <br>
             <h4><b>Explain you situation</b></h4>
          <textarea class="form-control" rows="4" maxlength="1200" id="comment" placeholder="Complete your question not more then 1200 words.Provide Key detail." style="background-color: white" [(ngModel)]="description"></textarea>
          <br>
          <button type="button" class="btn btn-secondary" (click)="askquestion()">Submit</button>
          </div>  
         <div class="right">
          <div class="col-md-3" style="background-color:none">
          <p><b><a routerLink="/editprofile-client" style="color: darkblue">Account setting</a></b></p>
          <hr>
          <p><b><a routerLink="/askquestion">Ask a quesions</a></b></p>
          <hr>
          <p><b><a routerLink="/askedquestion-client">Asked Questions</a></b></p>
          <hr>
          <p><b><a routerLink="/savedlawyers-client">Save</a></b></p>
          <hr>
          
          </div>
        </div>
        </div>
        <script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

